services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"  
    mem_limit: 512m

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'  #
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
    mem_limit: 1500m
   

  rabbitmq:
    image: masstransit/rabbitmq:latest  
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  match_generator:
    build: ./services/match_generator
    depends_on:
      kafka:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  betting_api:
    build: ./services/betting_api
    ports:
      - "3000:3000"
    depends_on:
      kafka:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  match_simulator:
    build: ./services/match_simulator
    depends_on:
      kafka:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  results_engine:
    build: ./services/results_engine
    depends_on:
      kafka:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  dashboard_backend:
    build: ./services/dashboard_backend
    ports:
      - "3001:3001"
    depends_on:
      kafka:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  email_worker:
    build: ./services/email_worker
    depends_on:
      rabbitmq:
        condition: service_healthy

  frontend:
    build: ./services/frontend
    ports:
      - "8080:80"
    depends_on:
      - dashboard_backend